<launch>
	<node pkg="litt_systems" name="larsonscannerpy" type="larson_scanner.py" output="screen" />
	<node pkg="litt_systems" name="vispy" type="vis.py" output="screen" />
	<node pkg="litt_systems" name="littpy" type="litt.py" output="screen" />
	<node pkg="litt_systems" name="aimlchatpy" type="aimlchat.py" output="screen" />
	<node pkg="litt_systems" name="synthesizerpy" type="synthesizer.py" output="screen" />
</launch>
