<launch>
	<node pkg="kitt_systems" name="pypixels" type="python-pixels.py" output="screen" />
	<node pkg="kitt_systems" name="vispy" type="vis.py" output="screen" />
	<node pkg="kitt_systems" name="kittpy" type="kitt.py" output="screen" />
	<node pkg="kitt_systems" name="aimlchatpy" type="aimlchat.py" output="screen" />
	<node pkg="kitt_systems" name="synthesizerpy" type="synthesizer.py" output="screen" />
</launch>
